@import '../../default';

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 40rem;
  min-width: 35rem;
  height: 100vh;
  background-color: #ffffff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 6px 20px 6px black;
  .cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    border-bottom: 2px lightgrey solid;

    .close-cart {
      color: $accent;
      font-size: 3rem;

      cursor: pointer;
      @include transition;
      &:hover {
        color: grey;
      }
    }
  }
  .cart-main {
    margin-top: 1rem;
    padding-right: 1rem;
    overflow: auto;
    height: 75vh;
  }
  .cart-footer {
    padding: 3rem;
    border-top: 2px lightgrey solid;
    text-align: center;
  }
}
