@import '../../default.scss';
.login {
  height: 85vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.sign-in {
  margin-top: 15rem;
  height: 50vh;
  width: 50%;
  padding: 3rem;
  border: 2px solid black;
  h1 {
    margin-bottom: 5rem;
    font-size: 4rem;
  }
}
