@import '../../default.scss';
.login {
  height: 85vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-in {
  margin-top: 5rem;
  width: 50%;
  padding: 3rem;
  border: 2px solid black;

  h1 {
    margin-bottom: 5rem;
    font-size: 4rem;
  }
  button {
    width: 70%;
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 1rem;
  }
  input {
    display: block;
    width: 70%;
    margin: 1rem auto;
  }
}

@media screen and (max-width: 500px) {
  .sign-in {
    width: 90%;
  }
  h1 {
    margin-bottom: 4rem !important;
    font-size: 3rem !important;
  }
  button {
    width: 90% !important;
  }
}
