.user-image {
  border-radius: 50%;
}
.user {
  position: relative;
}
.logout {
  position: absolute;
  right: -15%;
  text-align: center;
  padding: 1rem;
  color: black;
  background-color: white;
  border-radius: 1rem;
  margin-top: 0.5rem;
  border: 2px solid black;
  h3 {
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
  }
  button {
    padding: 1rem;
    width: 8rem;
    margin: 0;
    margin-top: 2rem;
  }
}
