.count {
  padding: 0.1rem 1rem;
  border: 1px solid black;
  width: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;

  & button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.8rem;
    margin-top: 0.5rem;
  }
  & button:last-child {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }
}
