@import '../../default';
.admin-tool-bar {
  width: 100%;
  height: 4rem;
  background-color: #d1cece;
  .admin-link {
    padding: 0.9rem;
    color: black;
    background-color: #eeecec;
    float: right;
    @include transition;
    font-size: 2rem;
    &:hover {
      background-color: $accent;
    }
  }
}
