@import '~../../default';
.admin-tool-bar {
  width: 100%;
  height: 7rem;
  background-color: #d9ddf3;

  .admin-link {
    height: 100%;
    padding: 2.2rem;
    color: white;
    background-color: #3f62af;
    float: right;
    border-radius: 1rem 0 0 1rem;
    @include transition;
    font-size: 2.5rem;
    &:hover {
      background-color: darken(#3f62af, 10%);
    }
  }
}
