@import '~../../default';

.buy {
  display: inline-block;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: #cc5c43;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover {
    background-color: darken($accent, 15%);
  }
}
.in-cart {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 1rem 2rem;
  &:hover {
    background-color: darken(white, 10%);
  }
}
