@import '../../default';

.shop {
  text-align: center;
  margin: 5rem auto;
  width: 100%;

  h1 {
    font-weight: bold;
    font-size: 5rem;
  }
}

.links {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .link {
    background-color: #585150;
    padding: 1rem;
    width: 15rem;
    color: white;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    @include transition;

    &:hover {
      background-color: lighten(#585150, 15%);
    }
  }
  .price-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    select {
      padding: 1rem;
      font-size: 1.5rem;
      border: none;
      outline: none;
      border-bottom: 1px solid black;
      cursor: pointer;
    }
    h3 {
      margin-right: 1rem;
      font-size: 1.5rem;
    }
  }
}

.products {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 7rem;
}
