.shop {
  text-align: center;
  margin: 5rem auto;
  width: 100%;

  h1 {
    font-weight: bold;
    font-size: 5rem;
  }
}

.products {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}
