@import '../../default';

nav {
  background-color: black;
  padding: 1rem;
  border-bottom: 1px solid #636262;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;

  .nav-container {
    @extend .container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
  }

  a {
    @extend .hover;
    font-size: 1.7rem;
    margin-left: 2rem;
  }
  .logo {
    @extend .hover;

    color: white;
    font-size: 3rem;
    margin-left: 0;
    margin-right: 3rem;
  }
  .right-nav img,
  .cart-icon {
    height: 3rem;
    margin-right: 2rem;

    @include transition;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
  .cart-icon {
    display: inline-block;
    position: relative;
  }
  .cart-items-number {
    position: absolute;
    text-align: center;
    padding: 0.1rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    top: -0.5rem;
    right: 0.5rem;
    background-color: $accent;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .subheader {
    color: white;
  }
}
