@import '../../default';

nav {
  background-color: black;
  padding: 1rem;
  border-bottom: 1px solid #636262;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;

  .nav-container {
    @extend .container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
  }

  a {
    @extend .hover;
    font-size: 1.7rem;
    margin-left: 2rem;
  }
  .logo {
    @extend .hover;

    color: white;
    font-size: 3rem;
    margin-left: 0;
    margin-right: 3rem;
  }
  .right-nav {
    & img {
      height: 3rem;
      margin-right: 3rem;

      @include transition;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }

    a {
      margin: 0;
    }
  }

  .cart-icon,
  .user {
    display: inline-block;
    position: relative;
  }

  .user-image {
    border-radius: 50%;
  }

  .cart-icon img {
    margin-right: 0;
  }
  .cart-items-number {
    position: absolute;
    text-align: center;
    padding: 0.1rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    top: -0.5rem;
    right: -1.5rem;
    background-color: $accent;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
}
