footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 2rem;
  letter-spacing: 0.1rem;
}
