@import '../../default.scss';

.no-match {
  text-align: center;
  height: 80vh;
  width: 100%;
  margin-top: 10rem;
  .gif {
    display: block;
    height: 50vh;
    width: 50%;
    margin: 2rem auto;
  }
  & h1 {
    font-size: 4rem;
    font-weight: bold;
  }

  & img {
    width: 3rem;
  }
}
