.admin-filter {
  margin-top: 5rem;
  background: lightgrey;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .search-icon {
    width: 4rem;
    height: 4rem;
  }
}
