//variables
$accent: #cc5c43;

//mixins

@mixin transition {
  transition: all 0.4s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

//container
.container {
  width: 80%;
  max-width: 1300px;
  margin: auto;
}

//overlay

.overlay {
  @include transition;
  height: 100%;
  width: 100%;

  cursor: pointer;
  background-color: rgb(15, 15, 15);
  opacity: 0.7;
  z-index: 3;
}

// hover
.hover {
  @include transition;
  &:hover {
    color: $accent;
  }
}

// btns
.primary-btn {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  padding: 1rem;
  width: 80%;
  font-size: 1.7rem;
  cursor: pointer;
  @include transition;
  span {
    margin-right: 1.5rem;
  }

  &:hover {
    color: black;
    background-color: rgb(211, 207, 207);
  }
}

.buy-button {
  display: inline-block;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: #cc5c43;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover {
    background-color: darken($accent, 15%);
  }
}
.in-cart {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  color: $accent;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  @include transition;

  &:hover {
    background-color: darken(white, 10%);
  }
}

// input
input,
select {
  margin: 1.5rem;
  padding: 1rem 1.6rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: grey 2px solid;
}

// scroll down

.scroll-down {
  position: absolute;
  bottom: -2.5rem;
  left: 47%;
  width: 5rem;
  background-color: white;
  box-shadow: 2px 2px 5px 0px black;
  cursor: pointer;

  border-radius: 50%;
  @include transition;
  &:hover {
    transform: translateY(50%);
    box-shadow: none;
  }
}
