//variables
$accent: #cc5c43;

//mixins

@mixin transition {
  transition: all 0.4s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}

//container
.container {
  width: 80%;
  max-width: 1300px;
  margin: auto;
}

//overlay

.overlay {
  @include transition;
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: pointer;
  background-color: rgb(252, 252, 252);
  opacity: 0.7;
  z-index: 2;
}

// hover
.hover {
  @include transition;
  &:hover {
    color: $accent;
  }
}

// btns
.checkout-btn {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  padding: 1rem;
  width: 80%;
  font-size: 1.7rem;
  cursor: pointer;
  @include transition;
  span {
    margin-right: 1.5rem;
  }

  &:hover {
    color: black;
    background-color: rgb(211, 207, 207);
  }
}

//
.btn {
  margin: 3rem;
  margin-left: 1.5rem;
  background-color: black;
  border-radius: 0.5rem;
  color: white;
  border: none;
  outline: none;
  padding: 2rem;
  font-size: 1.7rem;
  width: 30rem;
  cursor: pointer;
  @include transition;

  &:hover {
    color: black;
    background-color: rgb(211, 207, 207);
  }
}

// input
input,
select {
  margin: 1.5rem;
  padding: 1rem 1.6rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: grey 2px solid;
}
