.control-panel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;

  .sidebar {
    padding: 5rem 0;
    width: 30%;
    min-width: 30rem;
    border-right: 1px solid #d3d3d3;
  }

  .content {
    padding: 5rem 0;
    flex: 2;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 720px) {
  .control-panel {
    .sidebar {
      min-width: 100vw;
      margin-bottom: 3rem;

      .user-img {
        display: flex;
        justify-content: center;
      }
    }
  }
}
