.admin {
  padding: 0 10px;

  .call-to-actions {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
}

.manageProducts {
  h1 {
    margin-top: 1.5rem;
  }

  .admin.products {
    div {
      &:nth-child(even) {
        background-color: #d3d3d3;
      }

      .thumb {
        width: 15rem;
        margin: 0 auto;
      }
    }
  }
}
